# Monroe County Revisited

Originally an exercise at Lighthouse Labs, I wanted to come back to this to expand a little bit.

The point of this exercise is to try data enrichment with data from external APIs and datasets. We are going to take data about car crashes in Monroe County, Indiana from 2003 to 2015 and try to figure out the weather during the accident and how many bars there are in the area. We will work with Foursquare API and Mesonet weather data

We will try to find correlations between the severity of crash and weather/number of bars in the area. To indicate the severity of a crash, we will use column `Injury Type`.

## Data Cleaning

The data for this exercise can be found [here](https://drive.google.com/file/d/1_KF9oIJV8cB8i3ngA4JPOLWIE_ETE6CJ/view?usp=sharing).

In [48]:
import pandas as pd
import requests as re
import numpy as np
import os
from IPython.display import JSON
import time
from geopy import distance
#import json

In [49]:
accidents_df = pd.read_csv("monroe-county-crash-data2003-to-2015.csv", encoding="unicode_escape")

# preparing data
accidents_df.dropna(subset=['Latitude', 'Longitude'], inplace=True)
# creation of variable with lon and lat together
accidents_df['ll'] = accidents_df['Latitude'].astype(str) + ',' + accidents_df['Longitude'].astype(str)
# remove 0 lat and lon
accidents_df = accidents_df[accidents_df['ll'] != '0.0,0.0']

# rename columns
accidents_df.columns =[column.replace(" ", "_") for column in accidents_df.columns]
print(accidents_df.shape)
accidents_df.head()

(49005, 13)

,Master_Record_Number,Year,Month,Day,Weekend?,Hour,Collision_Type,Injury_Type,Primary_Factor,Reported_Location,Latitude,Longitude,ll
0,902363382,2015,1,5,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874,"39.15920668,-86.52587356"
1,902364268,2015,1,6,Weekday,1500.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848,"39.16144,-86.534848"
2,902364412,2015,1,6,Weekend,2300.0,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890,"39.14978027,-86.56889006"
3,902364551,2015,1,7,Weekend,900.0,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956,"39.165655,-86.57595635"
4,902364615,2015,1,7,Weekend,1100.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625,"39.164848,-86.57962482"

In [50]:
# Make date from columns Year, Month, Day
accidents_df['Date'] = pd.to_datetime(accidents_df[['Year', 'Month', 'Day']])

In [51]:
# Impute Weekend? from Date due to missing values
accidents_df['Weekend?'] = accidents_df['Date'].dt.dayofweek >= 5

In [52]:
# drop NaN Hour
accidents_df.dropna(subset=['Hour'], inplace=True)
# drop NaN Collision_Type
accidents_df.dropna(subset=['Collision_Type'], inplace=True)
# drop NaN Primary_Factor
accidents_df.dropna(subset=['Primary_Factor'], inplace=True)

In [53]:
# format Hour from float to int
accidents_df['Hour'] = accidents_df['Hour'].astype(int)

In [54]:
# make timestamp column from accidents_df Date and Hour columns
accidents_df['Timestamp'] = pd.to_datetime(accidents_df['Date'].astype(str) + accidents_df['Hour'].astype(str).str.zfill(4), format='%Y-%m-%d%H%M')

In [55]:
# selecting only the columns we need
accidents_df = accidents_df[['Timestamp', 'Weekend?', 'Collision_Type', 'Injury_Type', 'Primary_Factor', 'll']]

In [56]:
# show Primary_Factor types
accidents_df['Primary_Factor'].value_counts()

FAILURE TO YIELD RIGHT OF WAY               10287
FOLLOWING TOO CLOSELY                        6741
OTHER (DRIVER) - EXPLAIN IN NARRATIVE        5477
UNSAFE BACKING                               4701
RAN OFF ROAD RIGHT                           2641
DISREGARD SIGNAL/REG SIGN                    2084
SPEED TOO FAST FOR WEATHER CONDITIONS        1757
IMPROPER TURNING                             1699
DRIVER DISTRACTED - EXPLAIN IN NARRATIVE     1505
ANIMAL/OBJECT IN ROADWAY                     1467
UNSAFE SPEED                                 1337
ROADWAY SURFACE CONDITION                    1110
LEFT OF CENTER                                940
IMPROPER LANE USAGE                           893
ALCOHOLIC BEVERAGES                           717
UNSAFE LANE MOVEMENT                          698
OVERCORRECTING/OVERSTEERING                   518
IMPROPER PASSING                              454
OTHER (VEHICLE) - EXPLAIN IN NARRATIVE        419
OTHER (ENVIRONMENTAL) - EXPLAIN IN NARR       345
BRAKE FAILURE OR DEFECTIVE                    323
PEDESTRIAN ACTION                             278
DRIVER ASLEEP OR FATIGUED                     238
DRIVER ILLNESS                                160
VIEW OBSTRUCTED                               147
CELL PHONE USAGE                              129
WRONG WAY ON ONE WAY                           96
NONE (DRIVER)                                  95
TIRE FAILURE OR DEFECTIVE                      72
RAN OFF ROAD LEFT                              50
PRESCRIPTION DRUGS                             47
ACCELERATOR FAILURE OR DEFECTIVE               46
GLARE                                          40
INSECURE/LEAKY LOAD                            40
OBSTRUCTION NOT MARKED                         35
OVERSIZE/OVERWEIGHT LOAD                       26
PASSENGER DISTRACTION                          26
OTHER TELEMATICS IN USE                        26
STEERING FAILURE                               24
ENGINE FAILURE OR DEFECTIVE                    24
ILLEGAL DRUGS                                  22
HEADLIGHT DEFECTIVE OR NOT ON                  18
HOLES/RUTS IN SURFACE                          13
TRAFFIC CONTROL INOPERATIVE/MISSING/OBSC       11
NONE (ENVIRONMENTAL)                           10
NONE (VEHICLE)                                  9
OTHER LIGHTS DEFECTIVE                          9
TOW HITCH FAILURE                               7
ROAD UNDER CONSTRUCTION                         7
JACKKNIFING                                     5
SEVERE CROSSWINDS                               3
VIOLATION OF LICENSE RESTRICTION                3
LANE MARKING OBSCURED                           2
UTILITY WORK                                    1
SHOULDER DEFECTIVE                              1
Name: Primary_Factor, dtype: int64

In [57]:
# Check NaN
accidents_df.isnull().sum()

Timestamp         0
Weekend?          0
Collision_Type    0
Injury_Type       0
Primary_Factor    0
ll                0
dtype: int64

In [58]:
accidents_df

,Timestamp,Weekend?,Collision_Type,Injury_Type,Primary_Factor,ll
0,2015-01-05 00:00:00,False,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,"39.15920668,-86.52587356"
1,2015-01-06 15:00:00,False,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,"39.16144,-86.534848"
2,2015-01-06 23:00:00,False,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,"39.14978027,-86.56889006"
3,2015-01-07 09:00:00,False,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,"39.165655,-86.57595635"
4,2015-01-07 11:00:00,False,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,"39.164848,-86.57962482"
...,...,...,...,...,...,...
53343,2003-11-03 13:00:00,False,1-Car,No injury/unknown,UNSAFE SPEED,"39.005008,-86.5"
53344,2003-04-07 20:00:00,False,1-Car,No injury/unknown,UNSAFE SPEED,"39.00427482,-86.58137523"
53345,2003-05-07 15:00:00,False,1-Car,Non-incapacitating,UNSAFE SPEED,"39.002752,-86.463856"
53346,2003-11-03 23:00:00,False,1-Car,No injury/unknown,ROADWAY SURFACE CONDITION,"38.99232624,-86.53725171"
53347,2003-12-07 17:00:00,True,1-Car,Non-incapacitating,UNSAFE SPEED,"38.99152,-86.448784"

# Foursquare API

Foursquare API documentation is [here](https://developer.foursquare.com/)

1. Start a foursquare application and get your keys.
2. For each crash, create the function **get_venues** that will pull bars in the radius of 5km around the crash

#### example
`get_venues('48.146394, 17.107969')`

3. Find a relationship (if there is any) between number of bars in the area and severity of the crash.

HINTs: 
- check out python package "foursquare" (no need to send HTTP requests directly with library `requests`)
- **categoryId** for bars and nightlife needs to be found in the [foursquare API documentation](https://developer.foursquare.com/docs/api-reference/venues/search/)

In [28]:
#set the keys
foursquare_id = os.environ["FS_CLIENT_ID"]
foursquare_secret = os.environ["FS_CL_SECRET"]
foursquare_api = os.environ["FS_API_KEY"]

In [29]:
#initialize FS API
headers = {

    "Accept": "application/json",

    "Authorization": foursquare_api

}
url="https://api.foursquare.com/v3/places/search"
radius = "&radius=10000"
limit = "&limit=50"
citycenter="39.1676747,-86.5314594"

In [31]:
def fs_get_rect(northeast, southwest):
    params = {
		"query": "bar",
  	"ne": northeast,
  	"sw": southwest
	}
    response = re.request("GET", url, params=params, headers=headers)
    if response.status_code != 200:
        print("Error:", response.status_code)
        return None
    else:
        barset = pd.DataFrame(columns=['name', 'lat', 'lng'])
        data = response.json()
        bars = data['results']
        for bar in bars:
            barset = barset.append({
                'name': bar['name'],
                'lat': bar['geocodes']['main']['latitude'],
                'lng': bar['geocodes']['main']['longitude']
            }, ignore_index=True)
        return barset

In [32]:
# test fs_get_rect
resulttest = fs_get_rect("39.2525,-86.3656", "39.2400,-86.4656")

In [33]:
resulttest

                       name        lat       lng
0  Butler Winery & Vineyard  39.241777 -86.44664

In [34]:
# get all bar locations from FS API using rectangular boundary
def get_venues_loop(start_lat, start_lon, end_lat, end_lon):
	lat_point = start_lat
	lon_point = start_lon
	lat_step = 0.0292
	lon_step = 0.0155
	all_bars = pd.DataFrame(columns=['name', 'lat', 'lng'])

	#iterate through the rectangle
	while lat_point > end_lat:
		while lon_point > end_lon:
			# get the response from the FS API
			response = fs_get_rect(str(lat_point)+","+str(lon_point), str(lat_point - lat_step)+","+str(lon_point - lon_step))
			if response is not None:
				all_bars = all_bars.append(response, ignore_index=True)
			# sleep for 5 second to avoid rate limiting
			lon_point -= lon_step
			time.sleep(5)
		lon_point = start_lon
		lat_point -= lat_step
	return all_bars

In [35]:
# starting coordinates is roughly top right corner of where the accidents are
# end point is bottom left corner
start_lat = 39.3525
end_lat = 39.0425
start_lon = -86.3656
end_lon = -86.7067

In [34]:
bars = get_venues_loop(start_lat, start_lon, end_lat, end_lon)

In [37]:
bars

                             name        lat        lng
0                  Gosport Tavern  39.349143 -86.663583
1                  Barn of Terror  39.304334 -86.487356
2                      Mulligan's  39.295986 -86.692026
3              Blue Barn Antiques  39.281427 -86.511780
4        Butler Winery & Vineyard  39.240651 -86.445828
..                            ...        ...        ...
100  Workman Pole Barns & Garages  39.068751 -86.695921
101                   Fairfax Inn  39.034080 -86.490740
102                The Pointe Bar  39.033185 -86.511288
103         Stonecreek Ranch Barn  39.059434 -86.604144
104    Hoosier Daddy's Pub & Grub  39.044829 -86.711538

[104 rows x 3 columns]

In [36]:
# remove duplicates
bars.drop_duplicates(inplace=True)

In [38]:
# create ll column from lat and lng
bars['ll'] = bars['lat'].astype(str) + ',' + bars['lng'].astype(str)

In [39]:
bars.to_csv('bars.csv', index=False)

In [59]:
bars = pd.read_csv('bars.csv')

In [60]:
bars

                             name        lat        lng                    ll
0                  Gosport Tavern  39.349143 -86.663583  39.349143,-86.663583
1                  Barn of Terror  39.304334 -86.487356  39.304334,-86.487356
2                      Mulligan's  39.295986 -86.692026  39.295986,-86.692026
3              Blue Barn Antiques  39.281427 -86.511780   39.281427,-86.51178
4        Butler Winery & Vineyard  39.240651 -86.445828  39.240651,-86.445828
..                            ...        ...        ...                   ...
99   Workman Pole Barns & Garages  39.068751 -86.695921  39.068751,-86.695921
100                   Fairfax Inn  39.034080 -86.490740    39.03408,-86.49074
101                The Pointe Bar  39.033185 -86.511288  39.033185,-86.511288
102         Stonecreek Ranch Barn  39.059434 -86.604144  39.059434,-86.604144
103    Hoosier Daddy's Pub & Grub  39.044829 -86.711538  39.044829,-86.711538

[104 rows x 4 columns]

In [61]:
accidents_df['closest_bar'] = np.nan
accidents_df['number_of_bars_1km'] = np.nan
accidents_df['number_of_bars_3km'] = np.nan

In [62]:
# for each accident add a column with the closest bar distance and columns with amount of bars in 1km and 3km radius

for acc_index, accident in accidents_df.iterrows():
    closest_bar = 9000
    number_of_bars_3 = 0
    number_of_bars_1 = 0
    for _, bar in bars.iterrows():
        distance_from_bar = distance.distance(accident['ll'], bar['ll']).kilometers
        if distance_from_bar < 1:
            number_of_bars_1 += 1
        if distance_from_bar < 3:
            number_of_bars_3 += 1
        if distance_from_bar < closest_bar:
            closest_bar = distance_from_bar
    accidents_df.loc[acc_index, 'closest_bar'] = closest_bar
    accidents_df.loc[acc_index, 'number_of_bars_1km'] = number_of_bars_1
    accidents_df.loc[acc_index, 'number_of_bars_3km'] = number_of_bars_3

In [63]:
accidents_df

,Timestamp,Weekend?,Collision_Type,Injury_Type,Primary_Factor,ll,closest_bar,number_of_bars_1km,number_of_bars_3km
0,2015-01-05 00:00:00,False,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,"39.15920668,-86.52587356",0.873329,4.0,45.0
1,2015-01-06 15:00:00,False,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,"39.16144,-86.534848",0.317050,18.0,39.0
2,2015-01-06 23:00:00,False,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,"39.14978027,-86.56889006",0.942501,1.0,25.0
3,2015-01-07 09:00:00,False,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,"39.165655,-86.57595635",0.236924,9.0,18.0
4,2015-01-07 11:00:00,False,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,"39.164848,-86.57962482",0.098709,6.0,17.0
...,...,...,...,...,...,...,...,...,...
53343,2003-11-03 13:00:00,False,1-Car,No injury/unknown,UNSAFE SPEED,"39.005008,-86.5",3.277289,0.0,0.0
53344,2003-04-07 20:00:00,False,1-Car,No injury/unknown,UNSAFE SPEED,"39.00427482,-86.58137523",6.433096,0.0,0.0
53345,2003-05-07 15:00:00,False,1-Car,Non-incapacitating,UNSAFE SPEED,"39.002752,-86.463856",4.185285,0.0,0.0
53346,2003-11-03 23:00:00,False,1-Car,No injury/unknown,ROADWAY SURFACE CONDITION,"38.99232624,-86.53725171",5.062786,0.0,0.0
53347,2003-12-07 17:00:00,True,1-Car,Non-incapacitating,UNSAFE SPEED,"38.99152,-86.448784",5.960606,0.0,0.0

### Mesonet ASOS weather data

https://mesonet.agron.iastate.edu/ASOS

In [64]:
weather_df = pd.read_csv("BMG.csv")

In [65]:
weather_df.rename(columns = {'valid': 'Time', 'sknt':'Wind_Speed', 'p01i':'Precipitation',
                              'vsby':'Visibility', 'gust':'Wind_Gust', 'wxcodes': 'Weather Codes', 'ice_accretion_1hr': 'Ice_Accretion'}, inplace = True)

In [66]:
# make timestamp out of 'Time' in weather_df
weather_df['Time'] = pd.to_datetime(weather_df['Time'])

Weather phenomena:
RA Rain SN Snow SG Snow Grains
DZ Drizzle IC Ice Crystals PL Ice pellets (sleet)
GS Small hail GR Hail UP Unknown precipitation
Obscurations to visibility:
BR Mist (>=5/8 mi) FG Fog (< 5/8 mi)
FU Smoke VA Volcanic Ash
SA Sand HZ Haze
PY Spray DU Widespread Dust
Other:
SQ Squall (strong wind) SS Sandstorm
DS Duststorm PO Dust/sand whirls
FC Funnel Cloud FC+ Tornado/waterspout
Qualifiers (for RA, DZ, SN, PL):
- Light
(No sign) Moderate
+ Heavy
VC Vicinity
Examples:
+RA Heavy Rain
-DZ Light Drizzle
SN Moderate Snow
VCTS Thunderstorm in the vicinity (5-10 mi from observation)
Other Descriptors:
MI Shallow BC Patches PR Partial
TS Thunderstorm BL Blowing SH Showers
DR Drifting FZ Freezing
Examples:
BCFG Patchy fog
+TSRA Thunderstorm with heavy rain
BLSN Blowing snow
SHRA Moderate rain showers
TSRAGR Thunderstorm with moderate rain and hail

In [67]:
weather_df

,station,Time,Wind_Speed,Precipitation,Visibility,Wind_Gust,Weather Codes,Ice_Accretion
0,BMG,2003-01-01 00:30:00,10.00,M,9.00,M,M,M
1,BMG,2003-01-01 00:53:00,11.00,T,10.00,17.00,-RA,M
2,BMG,2003-01-01 01:20:00,10.00,0.01,4.00,M,-RA BR,M
3,BMG,2003-01-01 01:53:00,11.00,0.03,5.00,M,-RA BR,M
4,BMG,2003-01-01 02:53:00,10.00,0.04,4.00,M,-RA BR,M
...,...,...,...,...,...,...,...,...
152401,BMG,2015-12-07 22:53:00,0.00,0.00,5.00,M,BR,0.01
152402,BMG,2015-12-07 23:05:00,3.00,0.00,5.00,M,BR,M
152403,BMG,2015-12-07 23:53:00,3.00,0.00,2.50,M,BR,M
152404,BMG,2015-12-07 23:55:00,3.00,0.00,1.25,M,BR,M
152405,BMG,2015-12-07 23:57:00,3.00,0.00,0.75,M,BR,M

In [68]:
# append weather data to each accident. match closest timestamp
for acc_index, accident in accidents_df.iterrows():
    # get the closes timestamp in weather_df
    closest_time = weather_df.iloc[(weather_df['Time']-accident['Timestamp']).abs().argsort()[:1]]

    # append weather data to accident
    accidents_df.loc[acc_index, 'Wind_Speed'] = closest_time['Wind_Speed'].values[0]
    accidents_df.loc[acc_index, 'Precipitation'] = closest_time['Precipitation'].values[0]
    accidents_df.loc[acc_index, 'Visibility'] = closest_time['Visibility'].values[0]
    accidents_df.loc[acc_index, 'Wind_Gust'] = closest_time['Wind_Gust'].values[0]
    accidents_df.loc[acc_index, 'Weather Codes'] = closest_time['Weather Codes'].values[0]
    accidents_df.loc[acc_index, 'Ice_Accretion'] = closest_time['Ice_Accretion'].values[0]

In [69]:
accidents_df

,Timestamp,Weekend?,Collision_Type,Injury_Type,Primary_Factor,ll,closest_bar,number_of_bars_1km,number_of_bars_3km,Wind_Speed,Precipitation,Visibility,Wind_Gust,Weather Codes,Ice_Accretion
0,2015-01-05 00:00:00,False,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,"39.15920668,-86.52587356",0.873329,4.0,45.0,11.00,T,9.00,M,-SN,M
1,2015-01-06 15:00:00,False,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,"39.16144,-86.534848",0.317050,18.0,39.0,6.00,0.00,10.00,M,M,M
2,2015-01-06 23:00:00,False,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,"39.14978027,-86.56889006",0.942501,1.0,25.0,8.00,0.00,10.00,M,M,M
3,2015-01-07 09:00:00,False,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,"39.165655,-86.57595635",0.236924,9.0,18.0,9.00,0.00,10.00,21.00,M,M
4,2015-01-07 11:00:00,False,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,"39.164848,-86.57962482",0.098709,6.0,17.0,11.00,0.00,10.00,18.00,M,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53343,2003-11-03 13:00:00,False,1-Car,No injury/unknown,UNSAFE SPEED,"39.005008,-86.5",3.277289,0.0,0.0,12.00,M,10.00,17.00,M,M
53344,2003-04-07 20:00:00,False,1-Car,No injury/unknown,UNSAFE SPEED,"39.00427482,-86.58137523",6.433096,0.0,0.0,4.00,M,10.00,M,M,M
53345,2003-05-07 15:00:00,False,1-Car,Non-incapacitating,UNSAFE SPEED,"39.002752,-86.463856",4.185285,0.0,0.0,5.00,0.02,10.00,M,-RA,M
53346,2003-11-03 23:00:00,False,1-Car,No injury/unknown,ROADWAY SURFACE CONDITION,"38.99232624,-86.53725171",5.062786,0.0,0.0,5.00,M,10.00,M,M,M
53347,2003-12-07 17:00:00,True,1-Car,Non-incapacitating,UNSAFE SPEED,"38.99152,-86.448784",5.960606,0.0,0.0,4.00,M,10.00,M,M,M

In [70]:
accidents_df.to_csv("accidents.csv")

In [77]:
accidents_df = pd.read_csv("accidents.csv")

# Data Preparation

In [78]:
# encode Injury_Type from 0 to 3
accidents_df['Injury_Type'] = accidents_df['Injury_Type'].map({'No injury/unknown': 0, 'Non-incapacitating': 1, 'Incapacitating': 2, 'Fatal': 3})

In [79]:
# one-hot encode Collision_Type
accidents_df = pd.get_dummies(accidents_df, columns=['Collision_Type'])

In [80]:
# one-hot encode Primary_Factor
accidents_df = pd.get_dummies(accidents_df, columns=['Primary_Factor'])

In [74]:
# 'Weather Codes' are separated by space. split them and one-hot encode
accidents_df['Weather Codes'] = accidents_df['Weather Codes'].str.split(' ')
accidents_df = accidents_df.join(pd.get_dummies(accidents_df['Weather Codes'].apply(pd.Series).stack()).sum(level=0).add_prefix('Weather_'))
accidents_df.drop(columns=['Weather Codes'], inplace=True)

/tmp/ipykernel_15426/1544493587.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  accidents_df = accidents_df.join(pd.get_dummies(accidents_df['Weather Codes'].apply(pd.Series).stack()).sum(level=0).add_prefix('Weather_'))

In [75]:
accidents_df

,Timestamp,Weekend?,ll,closest_bar,number_of_bars_1km,number_of_bars_3km,Wind_Speed,Precipitation,Visibility,Wind_Gust,...,Weather_FZRA,Weather_HZ,Weather_M,Weather_RA,Weather_SN,Weather_SQ,Weather_TS,Weather_TSRA,Weather_UP,Weather_VCTS
0,2015-01-05 00:00:00,False,"39.15920668,-86.52587356",0.873329,4.0,45.0,11.00,T,9.00,M,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-06 15:00:00,False,"39.16144,-86.534848",0.317050,18.0,39.0,6.00,0.00,10.00,M,...,0,0,1,0,0,0,0,0,0,0
2,2015-01-06 23:00:00,False,"39.14978027,-86.56889006",0.942501,1.0,25.0,8.00,0.00,10.00,M,...,0,0,1,0,0,0,0,0,0,0
3,2015-01-07 09:00:00,False,"39.165655,-86.57595635",0.236924,9.0,18.0,9.00,0.00,10.00,21.00,...,0,0,1,0,0,0,0,0,0,0
4,2015-01-07 11:00:00,False,"39.164848,-86.57962482",0.098709,6.0,17.0,11.00,0.00,10.00,18.00,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53343,2003-11-03 13:00:00,False,"39.005008,-86.5",3.277289,0.0,0.0,12.00,M,10.00,17.00,...,0,0,1,0,0,0,0,0,0,0
53344,2003-04-07 20:00:00,False,"39.00427482,-86.58137523",6.433096,0.0,0.0,4.00,M,10.00,M,...,0,0,1,0,0,0,0,0,0,0
53345,2003-05-07 15:00:00,False,"39.002752,-86.463856",4.185285,0.0,0.0,5.00,0.02,10.00,M,...,0,0,0,0,0,0,0,0,0,0
53346,2003-11-03 23:00:00,False,"38.99232624,-86.53725171",5.062786,0.0,0.0,5.00,M,10.00,M,...,0,0,1,0,0,0,0,0,0,0
53347,2003-12-07 17:00:00,True,"38.99152,-86.448784",5.960606,0.0,0.0,4.00,M,10.00,M,...,0,0,1,0,0,0,0,0,0,0

In [76]:
accidents_df.columns

Index(['Timestamp', 'Weekend?', 'll', 'closest_bar', 'number_of_bars_1km',
       'number_of_bars_3km', 'Wind_Speed', 'Precipitation', 'Visibility',
       'Wind_Gust', 'Ice_Accretion', 'Injury_Type_Fatal',
       'Injury_Type_Incapacitating', 'Injury_Type_No injury/unknown',
       'Injury_Type_Non-incapacitating', 'Collision_Type_1-Car',
       'Collision_Type_2-Car', 'Collision_Type_3+ Cars', 'Collision_Type_Bus',
       'Collision_Type_Cyclist', 'Collision_Type_Moped/Motorcycle',
       'Collision_Type_Pedestrian',
       'Primary_Factor_ACCELERATOR FAILURE OR DEFECTIVE',
       'Primary_Factor_ALCOHOLIC BEVERAGES',
       'Primary_Factor_ANIMAL/OBJECT IN ROADWAY',
       'Primary_Factor_BRAKE FAILURE OR DEFECTIVE',
       'Primary_Factor_CELL PHONE USAGE',
       'Primary_Factor_DISREGARD SIGNAL/REG SIGN',
       'Primary_Factor_DRIVER ASLEEP OR FATIGUED',
       'Primary_Factor_DRIVER DISTRACTED - EXPLAIN IN NARRATIVE',
       'Primary_Factor_DRIVER ILLNESS',
       'Primary_Factor_ENGINE FAILURE OR DEFECTIVE',
       'Primary_Factor_FAILURE TO YIELD RIGHT OF WAY',
       'Primary_Factor_FOLLOWING TOO CLOSELY', 'Primary_Factor_GLARE',
       'Primary_Factor_HEADLIGHT DEFECTIVE OR NOT ON',
       'Primary_Factor_HOLES/RUTS IN SURFACE', 'Primary_Factor_ILLEGAL DRUGS',
       'Primary_Factor_IMPROPER LANE USAGE', 'Primary_Factor_IMPROPER PASSING',
       'Primary_Factor_IMPROPER TURNING', 'Primary_Factor_INSECURE/LEAKY LOAD',
       'Primary_Factor_JACKKNIFING', 'Primary_Factor_LANE MARKING OBSCURED',
       'Primary_Factor_LEFT OF CENTER', 'Primary_Factor_NONE (DRIVER)',
       'Primary_Factor_NONE (ENVIRONMENTAL)', 'Primary_Factor_NONE (VEHICLE)',
       'Primary_Factor_OBSTRUCTION NOT MARKED',
       'Primary_Factor_OTHER (DRIVER) - EXPLAIN IN NARRATIVE',
       'Primary_Factor_OTHER (ENVIRONMENTAL) - EXPLAIN IN NARR',
       'Primary_Factor_OTHER (VEHICLE) - EXPLAIN IN NARRATIVE',
       'Primary_Factor_OTHER LIGHTS DEFECTIVE',
       'Primary_Factor_OTHER TELEMATICS IN USE',
       'Primary_Factor_OVERCORRECTING/OVERSTEERING',
       'Primary_Factor_OVERSIZE/OVERWEIGHT LOAD',
       'Primary_Factor_PASSENGER DISTRACTION',
       'Primary_Factor_PEDESTRIAN ACTION', 'Primary_Factor_PRESCRIPTION DRUGS',
       'Primary_Factor_RAN OFF ROAD LEFT', 'Primary_Factor_RAN OFF ROAD RIGHT',
       'Primary_Factor_ROAD UNDER CONSTRUCTION',
       'Primary_Factor_ROADWAY SURFACE CONDITION',
       'Primary_Factor_SEVERE CROSSWINDS', 'Primary_Factor_SHOULDER DEFECTIVE',
       'Primary_Factor_SPEED TOO FAST FOR WEATHER CONDITIONS',
       'Primary_Factor_STEERING FAILURE',
       'Primary_Factor_TIRE FAILURE OR DEFECTIVE',
       'Primary_Factor_TOW HITCH FAILURE',
       'Primary_Factor_TRAFFIC CONTROL INOPERATIVE/MISSING/OBSC',
       'Primary_Factor_UNSAFE BACKING', 'Primary_Factor_UNSAFE LANE MOVEMENT',
       'Primary_Factor_UNSAFE SPEED', 'Primary_Factor_UTILITY WORK',
       'Primary_Factor_VIEW OBSTRUCTED',
       'Primary_Factor_VIOLATION OF LICENSE RESTRICTION',
       'Primary_Factor_WRONG WAY ON ONE WAY', 'Weather_+RA', 'Weather_+SN',
       'Weather_+TSRA', 'Weather_-FZDZ', 'Weather_-FZRA', 'Weather_-RA',
       'Weather_-RASN', 'Weather_-SN', 'Weather_-TSRA', 'Weather_BR',
       'Weather_FG', 'Weather_FZFG', 'Weather_FZRA', 'Weather_HZ', 'Weather_M',
       'Weather_RA', 'Weather_SN', 'Weather_SQ', 'Weather_TS', 'Weather_TSRA',
       'Weather_UP', 'Weather_VCTS'],
      dtype='object')

In [ ]:
# drop columns not needed for training
accidents_df.drop(columns=['Timestamp', 'll'], inplace=True)